profiles {
    dkfz_lsf {
        params {
            config_profile_name = 'dkfz_lsf'
            config_profile_description = 'for dkfz odcf lsf cluster submission 23-06-19 MZ'
            config_profile_contact = 'MZ'
            max_cpus            = 30
            max_memory          = '250.GB'
            max_time            = '200.h'

            fasta = 'hgtmp.fa'

        }

        process {
            containerOptions    = '--bind /omics/ --bind /local/ --no-home'
        }
        //scratch             = true

        /* When using this option, Nextflow:
        Creates a unique directory in the computing node's local /tmp or the path assigned by your cluster via the TMPDIR environment variable.
        Creates a symlink for each input file required by the job execution.
        Runs the job in the local scratch path. Copies the job output files into the job shared work directory assigned by Nextflow.
        */


        executor {
            name                = 'lsf'
            perTaskReserve      = false
            perJobMemLimit      = true
            queueSize           = 10
            submitRateLimit     = '3 sec'
        }

    }
}
